<!-- content -->
<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <!-- <img
        src="https://avatars.githubusercontent.com/u/56196754?v=4"
        alt="Deni Irawan"
        class="rounded-circle img-thumbnail"
      /> -->
      <img
        src="img/logo-unriyo.jpg"
        alt=""
        class="img-thumbnail img-fluid rounded-circle"
        width="200px"
      />
      <h1 class="display-4">Deni Irawan</h1>
      <p class="lead">
        Saya adalah seorang mahasiswa di Universitas Muhammadiyah Kalimantan
        Timur
      </p>
    </div>
  </div>
</div>
